<div class="bigbox">
  <span class="big-letter">SETTING</span>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h3 class="middle-letter">メールアドレス・パスワード再設定</h3>
    <br>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :パスワード %> <em>（ <%= @minimum_password_length %>文字〜12文字で入力）</em><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
         <i>(変更がない場合は空欄にしてください)</i>
         <br><br><br>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :確認パスワード %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :現在のパスワード %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div><br><br>

    <div class="actions">
      <%= f.submit "変更", class: "btn btn-default btn-lg" %>
    </div><br>
  <% end %>

    <hr>
      <%= link_to "Back", :back, class: "btn btn-default" %>
</div>
