<h1>プロフィール編集</h1>
<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
　<%=  form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :名前（ニックネーム可） %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.select :gender, [["女性", "1"], ["男性", "2"]] %>
  </div>

　<div class="field">
    <%= f.label :身長 %><br />
    <%= f.text_field :height, :placeholder => "  160.0", autofocus: true %><span> cm</span>
  </div>

  <div class="field">
    <%= f.label :体重 %><br />
    <%= f.text_field :latest_weight, :placeholder => "  50.0", autofocus: true %><span> kg</span>
  </div>

  <div class="field">
    <%= f.label :目標体重 %><br />
    <%= f.text_field :ideal_weight, :placeholder => "  48.0", autofocus: true %><span> kg</span>
  </div>

  <div class="field">
    <%= f.label :年代 %><br />
    <%= f.select :age, [["10代", "1"], ["20代", "2"], ["30代", "3"], ["40代", "4"], ["50代", "5"], ["60代", "6"]] %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<% if @user.weights.exists? %><!--同じ日付のレコードがあれば-->
  <% if @user.weights.last.updated_at == Date.today %><!--同じ日付のレコードがあれば-->
    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  <% else %>
      体重の更新は１日１回までです！
  <% end %>
<% else %>
    <div class="actions">
      <%= f.submit "更新" %>
    </div>
<% end %><br>
<%= link_to "戻る", users_top_path %> |

<%= link_to "アカウントを削除する", users_delete_path(current_user.id) %>
<% end %>
