<h1>管理者側のユーザー一覧ページ</h1>

<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :name_cont, "Name" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "検索" %></div>
<% end %>

  <% @users.each do |user| %>
	<%= user.name %>
	<%= button_to "詳細", user_path(user.id), method: :get, class: 'btn btn-default' %>
  <% end %>