<body class="admin">
<h1 class="big2">ユーザー 詳細</h1>
  <div class="bigbox">
    <br>
    <br>
    <br><br><br>
      <div class="table-responsive">
        <table class="table table-hover table-bordered detail">
		    <tr>
			  <th>名前</th>
		      <td><h3 class="dark"><%= @user.name %></h3></td>
		    </tr>
	        <tr>
	  	      <th>性別</th>
	  	      <td><p class="dark"><%= @user.gender %>&nbsp;&nbsp;(1=女性,2=男性)</p></td>
	        </tr>
	        <tr>
              <th>身長</th>
              <td><p class="dark"><%= @user.height %>&nbsp;cm</p></td>
	        </tr>
	        <tr>
	          <th>体重</th>
	          <td><p class="dark"><%= @user.latest_weight %>&nbsp;kg</p></td>
	        </tr>
	        <tr>
	  	      <th>目標体重</th>
	  	      <td><p class="dark"><%= @user.ideal_weight %>&nbsp;kg</p></td>
	        </tr>
	        <tr>
              <th>年代</th>
              <td><p class="dark"><%= @user.age %>0代</p></td>
	        </tr>
	        <tr>
	  	      <th>メールアドレス</th>
	  	      <td><p class="dark"><h4 class="name-style"><%= @user.email %></h4></p></td>
	        </tr>
        </table>
      </div>
      <%= link_to "削除", users_index_path, class: "btn btn-danger user_#{@user.id}", method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </div>
</body>