<h1>管理者側:ユーザー詳細</h1>
  <br>
  <div class = 'users-box'>
  	<br>
	<ul>
      <li class="name">
		<h2> 名前　<%= @user.name %></h2>
		<br>
	  </li>
	  <li class="gender">
		<h3> 性別　<%= @user.gender %></h3>
	  </li>
	  <li class="height">
		<h3> 身長　<%= @user.height %></h3>
	  </li>
	  <li class="weight">
		<h3> 体重　<%= @user.latest_weight %></h3>
	  </li>
	  <li class="ideal_weight">
		<h3> 目標体重　<%= @user.ideal_weight %></h3>
      </li>
	  <li class="age">
		<h3> 年代　<%= @user.age %></h3>
	  </li>
	  <li class="email">
	    <h3> メールアドレス　<%= @user.email %></h3>
	  </li>
    </ul>
     <br>
     <br>
    <%= link_to "削除", users_index_path, class: "btn btn-danger user_#{@user.id}", method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>
