<div class="bigbox">
  <span class="big-letter">お問い合わせフォーム</span>
    <%= flash[:alert] %>

      <% if @contact.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
      <% end %>
          </ul>
        </div>
    <% end %>

	  <%= form_for (@contact) do |f| %>
      <div class="field-contact">
        <%= f.label :タイトル %><br />
		    <%= f.text_field :contact_title %><br>(30文字以内)
      </div>

      <div class="field-contact">
        <%= f.label :返信用メールアドレス %><br />
        <%= f.email_field :reply, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field-contact">
	      <%= f.label :内容 %><br />
		      <%= f.text_area :contact_text %><br>(500文字以内)<br>
          <br>
          <%= f.submit "send", class: "btn btn-default btn-lg" %>
      </div>
    <% end %>
</div>