<div class="contact-top">
	<div class="contact-form">

		<h1 class="contact">お問い合わせフォーム</h1>
            <%= flash[:alert] %>

		<%= form_for (@contact) do |f| %>

		    <h4>タイトル</h4>
			<%= f.text_field :contact_title %>
			<h4>内容</h4>
			<%= f.text_area :contact_text %>
            <h4><%= f.submit '送信' %></h4>

        <% end %>
	</div>
</div>